.flashcard_section {
    width: 800px;
    height: 600px;
    margin: 100px auto 0; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#question {
    text-align: center;
    font-size: 24px;
}

#question-container {
    position: relative;
    top: 120px;    
}

.input_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#check-answer {
    position: relative;
    top: 20px;
}

input#answer {
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

button#check-answer {
    height: 30px;
    font-size: 20px;
}

p#feedback {
    position: relative;
    top: 20px;
    font-size: 20px;
}